<mat-card>
  <mat-form-field>
    <input matInput placeholder="" />
  </mat-form-field>

  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        1
      </button></mat-grid-tile
    >
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        2
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        3
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        +
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        4
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        5
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        6
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        -
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        7
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        8
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        9
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        X
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        =
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        0
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        .
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button id="basic" type="button" mat-button (click)="clicked = true">
        /
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
